	<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Log It Bro!</h1>
                <hr>
                <a href="/login" class="btn btn-primary btn-xl page-scroll">Log In</a>
                <a href="/signup" class="btn btn-primary btn-xl page-scroll">Sign Up</a>
            </div>
        </div>
    </header>